# Laravel
youtube-resolver-service/vendor/
youtube-resolver-service/.env
youtube-resolver-service/node_modules/
youtube-resolver-service/storage/app/output/*.txt
youtube-resolver-service/database/database.sqlite

# Γενικά
.DS_Store
*.log